body{
    background-color: rgb(183, 208, 225);
    display: flex;
    justify-content: center;
    height: 90svh;
    justify-content: center;
    align-items: center;
}

.name{
    color: white;
    font-size: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.calculator{
    text-align: center;
    width: fit-content;
    background-color: #181818;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

form{
    margin-top: 20px;
}

.button{
    background-color: white;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: none;
    margin: 5px;
    text-align: center;
    font-weight:900;
    outline: none;
    font-size: 1.2rem;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button:hover{
    background-color: #B3B3B3;
}

.button.green{
    background-color: #50C878;
    color: white;
}

.button.green:hover{
    background-color: #26d05f;
}

.button.yellow{
    background-color: #FFBF00;
    color: white;
}

.button.yellow:hover{
    background-color: #ffa600;
}

.button.gray{
    background-color: #b3b3b3;
}

.button.gray:hover{
    background-color: #787878;
}

.display{
    overflow-x: scroll;
    margin: 0 auto;
    width: 230px;
    height: 60px;
    font-size: 2rem;
    background-color: gainsboro;
    padding: 5% 10%;
    text-align: right;
    margin-bottom: 10px;
    color: rgb(22, 23, 28);
    font-family: monospace;
    box-shadow:  2px 2px 10px inset rgb(79, 79, 79);
}